@charset "utf-8";
.J_ComboDialog .body .scroll:after, .J_ComboDialog .body .tm-combo-item:after, .J_ComboDialog .body:after, .J_ComboDialog .footer:after, .J_ComboDialog .header:after {
    clear: both;
    content: ' ';
}

/*.J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock span {
    background-image: url(data:image/gif;base64,R0lGODlhKAAoAIABAP///////yH5BAEAAAEALAAAAAAoACgAAAJTRIynyeudnoSzIoqtNrtn9nmiGJYlqaEntqqS24KwO8eHjSu1mud73KMFgb/RkHRsFVdJ43LTPD1N01QUWs1kLdfQlvV9dbnhRvkx1qYna8qZUQAAOw==);
}*/

body .J_ComboDialog .header .tm-combo-item .tm-enable.selected, body .J_ComboDialog .header .tm-combo-mitem .tm-enable.selected, html body .J_ComboDialog .header .tm-combo-item .tm-enable.disabled, html body .J_ComboDialog .header .tm-combo-item .tm-enable.force, html body .J_ComboDialog .header .tm-combo-mitem .tm-enable.disabled, html body .J_ComboDialog .header .tm-combo-mitem .tm-enable.force {
    background-image: none;
}

.J_ComboDialog .header {
    padding: 10px 20px;
}

    .J_ComboDialog .header:after {
        display: block;
        height: 0;
    }

    .J_ComboDialog .header .tm-combo-item, .J_ComboDialog .header .tm-combo-mitem {
        float: left;
        position: relative;
    }

        .J_ComboDialog .header .tm-combo-item .tm-img, .J_ComboDialog .header .tm-combo-mitem .tm-img {
            width: 60px;
            height: 60px;
            margin: 0 10px;
            text-align: center;
        }

            .J_ComboDialog .header .tm-combo-item .tm-img a, .J_ComboDialog .header .tm-combo-mitem .tm-img a {
                width: 60px;
                height: 60px;
                display: block;
                text-align: center;
                line-height: 60px;
            }

            .J_ComboDialog .header .tm-combo-item .tm-img img, .J_ComboDialog .header .tm-combo-mitem .tm-img img {
                vertical-align: middle;
                max-width: 100%;
                max-height: 100%;
            }

        .J_ComboDialog .header .tm-combo-item .tm-enable, .J_ComboDialog .header .tm-combo-mitem .tm-enable {
            /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAMAAAAolt3jAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE5QTFRF8fHx3Nzc3t7e5ubm29vb7u7u8PDw1NTU5eXl9PT0/v7+7e3t39/fzMzM19fX2dnZxsbG6enpxMTE4uLiwcLBzs7O0dHRyMjIv7+/////MmvqOgAAAHFJREFUeNpUyUsWgyAMQNGARS0fISGA7H+jTdQOfLN7HsxXMM8nZj7/ZCIqRDeZyrjyShakpukVpdavhLe2I+d8CEl1fIyN1kzwZahirXutckfqm2hBxMWD12lEwQXU23q2FcMKa3gYd3TwBSd89RNgAFOQDkvs3fhJAAAAAElFTkSuQmCC);*/
            width: 14px;
            position: absolute;
            top: 44px;
            left: 10px;
            background-color: #fff;
            border: 1px solid #8c8c8c;
            height: 14px;
            cursor: pointer;
        }

            .J_ComboDialog .header .tm-combo-item .tm-enable i, .J_ComboDialog .header .tm-combo-mitem .tm-enable i {
                font-family: tm-detail-font;
                font-style: normal;
                color: #fff;
                font-size: 12px;
                text-align: center;
                display: none;
            }

    .J_ComboDialog .header .tm-combo-info .tm-combo-price i, .J_ComboDialog .header .tm-combo-info .tm-original-price i, .J_ComboDialog .header .tm-combo-info .tm-save-price i {
        font-family: arial,verdana,sans-serif!important;
        font-style: normal;
    }

body .J_ComboDialog .header .tm-combo-item .tm-enable.selected i, body .J_ComboDialog .header .tm-combo-mitem .tm-enable.selected i, html body .J_ComboDialog .header .tm-combo-item .tm-enable.force i, html body .J_ComboDialog .header .tm-combo-mitem .tm-enable.force i {
    display: block;
}

html body .J_ComboDialog .header .tm-combo-item .tm-enable.force, html body .J_ComboDialog .header .tm-combo-mitem .tm-enable.force {
    border-color: #000;
    background-color: #000;
    cursor: default;
}

html body .J_ComboDialog .header .tm-combo-item .tm-enable.disabled, html body .J_ComboDialog .header .tm-combo-mitem .tm-enable.disabled {
    border-color: #999;
    background-color: #ccc;
    cursor: not-allowed;
}

body .J_ComboDialog .header .tm-combo-item .tm-enable.selected, body .J_ComboDialog .header .tm-combo-mitem .tm-enable.selected {
    border-color: #c40000;
    background-color: #c40000;
}

.J_ComboDialog .header .tm-combo-spliter {
    float: left;
    line-height: 60px;
}

.J_ComboDialog .header .tm-combo-info {
    margin-top: 10px;
}

    .J_ComboDialog .header .tm-combo-info .tm-combo-price {
        display: inline-block;
        font-size: 12px;
        line-height: 18px;
        color: #c40000;
    }

        .J_ComboDialog .header .tm-combo-info .tm-combo-price i {
            font-size: 18px;
        }

        .J_ComboDialog .header .tm-combo-info .tm-combo-price s {
            text-decoration: none;
            font-size: 18px;
        }

    .J_ComboDialog .header .tm-combo-info .tm-save-price {
        display: inline-block;
        background-color: #333;
        color: #fff;
        padding: 1px 3px;
        font-size: 14px;
        line-height: 18px;
        position: relative;
        margin-left: 4px;
    }

        .J_ComboDialog .header .tm-combo-info .tm-save-price b {
            position: absolute;
            width: 0;
            height: 0;
            font-size: 0;
            border-bottom: 6px solid #333;
            border-left: 6px solid #fff;
            left: -6px;
            bottom: 0;
        }

        .J_ComboDialog .header .tm-combo-info .tm-save-price s {
            text-decoration: none;
        }

    .J_ComboDialog .header .tm-combo-info .tm-count s {
        text-decoration: none;
    }

.J_ComboDialog .header .tm-combo-warnning {
    display: none;
    color: #c40000;
    margin-top: 20px;
    line-height: 20px;
    float: left;
    margin-left: 10px;
}

body .J_ComboDialog .header.warnning {
    background-color: #ffe159;
}

    body .J_ComboDialog .header.warnning .tm-combo-warnning {
        display: block;
    }

    body .J_ComboDialog .header.warnning .tm-combo-info {
        display: none;
    }

.J_ComboDialog .body {
    padding-left: 20px;
    background-color: #f5f5f5;
}

    .J_ComboDialog .body:after {
        display: block;
        height: 0;
    }

    .J_ComboDialog .body .title {
        line-height: 50px;
        color: #666;
    }

        .J_ComboDialog .body .title b {
			width:14px;
			height:14px;
            font-weight: 400;
            color: #1b96dc;
            position: relative;
			display:inline-block;
			margin-right:2px;
			background:url(../images/yuan.png) no-repeat;
        }

            .J_ComboDialog .body .title b i {
                font-style: normal;
                color: #fff;
                font-family: serif,arial;
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
                text-align: center;
                line-height: 18px;
                font-size: 12px;
            }

    .J_ComboDialog .body .tm-combo-item {
        float: left;
        position: relative;
        background-color: #fff;
        width: 300px;
        margin-bottom: 20px;
    }

        .J_ComboDialog .body .tm-combo-item:after {
            display: block;
            height: 0;
        }

        .J_ComboDialog .body .tm-combo-item div.tm-img {
            float: left;
            width: 60px;
            margin: 10px;
            text-align: center;
        }

        .J_ComboDialog .body .tm-combo-item .tm-amount {
            position: absolute;
            width: 60px;
            text-align: center;
            line-height: 20px;
            height: 20px;
            bottom: 0;
            left: 10px;
            color: #fff;
        }

            .J_ComboDialog .body .tm-combo-item .tm-amount span {
                z-index: 2;
                position: relative;
            }

            .J_ComboDialog .body .tm-combo-item .tm-amount i {
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: .5;
                filter: Alpha(opactiy=50);
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
            }

        .J_ComboDialog .body .tm-combo-item .tm-meta {
            float: left;
            padding:20px;
        }

            .J_ComboDialog .body .tm-combo-item .tm-meta .tb-prop {
                /*padding-bottom: 4px;
                padding-top: 6px;*/
                line-height: 20px;
            }

                .J_ComboDialog .body .tm-combo-item .tm-meta .tb-prop:after {
                    display: block;
                    clear: both;
                    height: 0;
                    content: ' ';
                }
.tm-stock {
    margin-left:22px;
}
                .J_ComboDialog .body .tm-combo-item .tm-meta .tb-prop dt {
                    float: left;
                    margin-top: 4px;
                }

                .J_ComboDialog .body .tm-combo-item .tm-meta .tb-prop dd {
                    width: 270px;
                    /*margin-left: 85px;*/
                    float: none;
                }

            .J_ComboDialog .body .tm-combo-item .tm-meta li {
                float: left;
                position: relative;
                margin: 0 4px 4px 0;
                line-height: 20px;
                vertical-align: middle;
                padding: 1px;
            }

                .J_ComboDialog .body .tm-combo-item .tm-meta li a {
                    float: left;
                    background-color: #fff;
                    white-space: nowrap;
                    width: auto!important;
                    min-width: 21px;
                    padding: 0 6px;
                    text-align: center;
                    color: #000;
                    text-decoration: none;
                }

                    .J_ComboDialog .body .tm-combo-item .tm-meta li a:hover {
                        border: 2px solid #be0106;
                        margin: -1px;
                    }

                    .J_ComboDialog .body .tm-combo-item .tm-meta li a:focus {
                        outline: 0;
                    }

                .J_ComboDialog .body .tm-combo-item .tm-meta li.tb-selected li a {
                    border: 1px solid #e2e1e3;
                    margin: 0;
                }

                .J_ComboDialog .body .tm-combo-item .tm-meta li span {
                    padding-left: 1px;
                }

                .J_ComboDialog .body .tm-combo-item .tm-meta li.tb-img a {
                    width: 32px!important;
                    height: 32px;
                    padding: 0;
                    line-height: 32px;
                    background-repeat: no-repeat;
                    outline: 0;
                    background-position: center center;
                }

                .J_ComboDialog .body .tm-combo-item .tm-meta li.tb-img span {
                    display: block;
                    text-indent: -9999em;
                }

            .J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock i, .J_ComboDialog .body .tm-combo-item .tm-notice {
                display: none;
            }

            .J_ComboDialog .body .tm-combo-item .tm-meta li.tb-img.tb-txt a {
                padding: 0 5px;
                width: auto!important;
            }

            .J_ComboDialog .body .tm-combo-item .tm-meta li.tb-img.tb-txt span {
                text-indent: 0;
                width: auto;
            }

            .J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock a {
                border: 1px dashed #D6D6D8;
                color: #CDCDCD;
                margin: 0;
                cursor: not-allowed;
            }

                .J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock a:hover {
                    border: 1px dashed #D6D6D8;
                    margin: 0;
                }

            .J_ComboDialog .body .tm-combo-item .tm-meta ul li.tb-out-of-stock span {
                background-repeat: repeat;
                background-position: 0 0;
            }

            .J_ComboDialog .body .tm-combo-item .tm-meta .tb-service a {
                background-repeat: no-repeat;
                padding-left: 22px;
                background-position: 5px center;
            }

        .J_ComboDialog .body .tm-combo-item .tb-stock {
            padding-bottom: 4px;
            padding-top: 4px;
            line-height: 20px;
        }

            .J_ComboDialog .body .tm-combo-item .tb-stock dd {
                width: 305px;
                float: left;
            }

            .J_ComboDialog .body .tm-combo-item .tb-stock dt {
                float: left;
            }

body .J_ComboDialog .body .tm-combo-item.hover {
    border: 1px dashed red;
    position: relative;
}

    body .J_ComboDialog .body .tm-combo-item.hover .tm-notice {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background-color: #c40000;
        color: #fff;
        padding: 2px 4px;
        display: block;
    }

.J_ComboDialog .body .scroll {
    width: 100%;
    position: relative;
    /*overflow: auto;
    height: 360px;*/
}

    .J_ComboDialog .body .scroll:after {
        display: block;
        height: 0;
    }

.J_ComboDialog .footer {
    height: 60px;
    width: 100%;
    background-color: #000;
    color: #999;
}

    .J_ComboDialog .footer:after {
        display: block;
        height: 0;
    }

    .J_ComboDialog .footer .tm-delivery {
        float: left;
        color: #999;
        line-height: 60px;
        margin-left: 30px;
    }

        .J_ComboDialog .footer .tm-delivery .mui_addr_tri, .J_ComboDialog .footer .tm-delivery .tb-deliveryAdd {
            margin: 0 5px;
        }

            .J_ComboDialog .footer .tm-delivery .mui_addr_tri .mui_addr_icon {
                font-family: tm-detail-font;
                font-style: normal;
                position: relative;
                z-index: 1;
            }

            .J_ComboDialog .footer .tm-delivery .mui_addr_tri .mui_addr_tri_1, .J_ComboDialog .footer .tm-delivery .mui_addr_tri .mui_addr_tri_2 {
                color: #fff;
                padding-right: 12px;
                cursor: pointer;
                background: 0 0;
                border: 0px;
                position: relative;
                z-index: 2;
            }

    .J_ComboDialog .footer .tm-buy {
        float: right;
        margin: 10px;
        line-height: 40px;
        position: relative;
        z-index: 1;
    }

        .J_ComboDialog .footer .tm-buy .tm-combo-totalPrice i {
            font-family: arial,verdana,sans-serif!important;
            font-style: normal;
            font-weight: bolder;
            color: #c40000;
        }

        .J_ComboDialog .footer .tm-buy .tm-combo-totalPrice s {
            text-decoration: none;
            font-weight: bolder;
            font-size: 18px;
            color: #c40000;
        }

        .J_ComboDialog .footer .tm-buy .tm-combo-notice {
            background-color: #fee;
            color: #c40000;
            border: 1px solid #f9b3ac;
            position: absolute;
            right: 0;
            top: -37px;
            line-height: 20px;
        }

        .J_ComboDialog .footer .tm-buy input {
            width: 35px;
            line-height: 20px;
            margin: 0 5px;
        }

        .J_ComboDialog .footer .tm-buy button {
            line-height: 40px;
            background-color: #c40000;
            overflow: visible;
            border: 0;
            color: #fff;
            padding: 0 15px;
            border-radius: 1px;
            cursor: pointer;
        }

            .J_ComboDialog .footer .tm-buy button.disabled {
                background-color: #818181;
            }
